/*------------------ css reset -------------------------*/

* {
    padding: 0;
    margin: 0;
    font-size: 107%;
    line-height: 1em;
}

body {
    width: 75%;
    max-width: 700px;
    font-family: font-family: 'Libre Baskerville', serif;
    margin: auto;
    background-color: #f0f0f0;
    color: #333;
    line-height: 1.8;
}


/*------------------- typography ------------------------*/

h1,
h2,
h3 {
    font-weight: normal;
    color: crimson;
    text-align: center;
}

p,
li {
    margin-bottom: 2em;
    line-height: 1.5em;
}

h1 {
    font-size: 4em;
    margin-top: 1em;
    margin-bottom: .1em;
}

h2 {
    font-size: 2.25em;
    margin-bottom: 1em;
    margin-top: 1em;
}

header h2 {
    font-style: italic;
    font-size: 1.8em;
    color: gray;
}

.intro {
    font-size: 1.2em;
    line-height: 1.5em;
}

blockquote {
    padding: 0 0 0 0;
    font-size: 1.5em;
    line-height: .5em;
    margin: .5em;
}

blockquote cite {
    font-size: .7em;
}

blockquote p {
    color: dimgrey;
    hanging-punctuation: first;
    text-indent: -0.45em;
}

.anchor {
    text-transform: italic;
    font-size: 1em;
    text-align: center;
    margin: 0;
}


/* ------------------------- links ------------------------*/

a {
    color: crimson;
    text-decoration: none;
}

a:hover {
    color: dimgrey;
    text-decoration: 1px dotted;
}


/* -------------------------- nav --------------------------*/

nav {
    padding: 1em 0;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    margin-bottom: 2em;
}

nav ul {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1.25px;
}

nav ul li {
    display: inline;
    margin: 20px;
    font-size: 1em;
}

nav a:hover {
    border-bottom: none;
}
/*----------------------- footer -------------- */
footer {
    color: darkgrey;
    line-height: 1.3em;
    font-size: 1em;
}

footer ul {
    text-align: center;
    text-transform: none;
    letter-spacing: 1px;
}

footer ul li {
    display: inline;
    margin: 20px;
    line-height: 3em;
    font-size: 1.5m;
}
/*----------------------- images -------------- */
img {
    display: block;
    margin: 1em auto;
    padding: 0 1em 0 1em;
    max-width: 100%;
    
}
/*----------------------- table -------------- */

table {
        margin: auto;
        width: 100%;
        display: table;
        border-collapse:collapse;
        border-spacing: 2px;       
} 

caption {
        margin-bottom: 1em;
        text-transform: none;
        color: crimson;
        text-align: center;
        font-size: 1.5em;
}

table.head, th {
                color: whitesmoke;
                text-transform: uppercase;
                font-weight: normal;
                text-align: left;
                background: crimson;
}

th, td {
        padding: .6em;
}

table, td, th {
            background: rgba (0,0,0,.1);
            border: 1px solid #ffffff;
}

/*----------------------- Tablet -------------- */

@media (max-width:50em) {
    body { 
            width: 85%;
            
        
    }
    article {
        width: 95%;
        padding: 0.5em;
        
    }
    
blockquote {
            font-size: 95%;
                
    }
}

/*----------------------- Smartphone -------------- */

@media (max-width:35em) {
                        body {
                        margin: 1em;
                        width: 100%;
                        font-size: 110%;
                        margin: 1em;
    }

 /*--------------- smartphone table -------------*/
table {
        font-size: 90%;
        padding: 0 0 0 2em;
}
 /*--------------- smartphone article -------------*/
article {
        width: 90%
}
 /*--------------- smartphone header -------------*/
h1 {
        font-size: 2em;
        line-height: .5em;
    }
    h2 { font-size: 2em;
    }
 /*--------------- smartphone footer -------------*/
footer {
        color: darkgrey;
        line-height: 1.5em;
        font-size: .75em;
        padding: 1em;
}
 /*--------------- smartphone blockquote --------*/
blockquote {
            font-size: 90%;
    
   /*--------------- smartphone nav -------------*/             
    }
nav {
    padding: .75em 0;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    margin-bottom: 2em;
}

nav ul {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1.25px;
}

nav ul li {
    display: inline;
    margin: 9px;
    font-size: .5em;

}
 /*--------------- smartphone imgs -------------*/
img {
    display: block;
    margin: 1em auto;
    padding: 1em;
    max-width: 18em;
    
}

