/*------------------ css reset -------------------------*/

* {
    padding: 0;
    margin: 0;
    font-size: 107%;
    line-height: 1em;
}

body {
    width: 75%;
    max-width: 800px;
    font-family: 'Libre Baskerville', serif;
    margin: auto;
    background-color: #f0f0f0;
    line-height: 1.5em;
   
}
/*--------------------- background ----------------

- make one in photoshaaap
- width - 1600, 1000
- png, transparent
- save in images
-   put this in the body
                            {background: #000 url(link.png) 
this will repeat it across your page - 
                            repeat-x;
then state where you want to position it within the same thing
                        e.g. no-repeat right
another way to do it

background-position: 50% 50%

- you can have multiple images
- arrange the positioning directly after the link

                            
- ** note
 css3factory.com will give you a gradient generator.

/*------------------- typography --------------------*/

h1,
h2,
h3 {
    font-weight: normal;
    color: black;
    text-align: left;
}

p,
li {
    margin-bottom: 2em;
    line-height: 1.5em;
}

h1 {
    font-size: 4em;
    margin-top: 1em;
    margin-bottom: .1em;
}

h2 {
    font-size: 2.25em;
    margin-bottom: 1em;
    margin-top: 1em;
}

h3 {
    font-size: 1em;
    margin-bottom: -3em;
    margin-top: 1.5em;
}

header h2 {
    font-style: italic;
    font-size: 1.8em;
    color: black;
}

.intro {
    font-size: 1.125em;
    line-height: 1.5em;
}

blockquote {
    font-size: 1.5em;
    line-height: .5em;
    margin: .5em .5em 0 0;
    font-style: italic;
}

cite {
    font-size: .7em;
    display: block;
    margin-top: -1.5em;
    margin-bottom: 3em;
}

blockquote p {
    color: dimgrey;
    hanging-punctuation: first;
    text-indent: -0.45em;
    text-transform: italic;
}


/*--------------------- dropcap--------------------*/

.firstcharacter {
    font-size: 4.5em;
    line-height: .5em;
    padding-left: 0em;
    margin: right;
    float: left;
}


/*--------------------- horizontal rule ------------*/

hr {
    border: 1px red solid;
}


/*--------------------- version 2 ----------------*/

.version2 {
    font-size: 7;
    font-family: 'Open Sans', sans-serif;
}
.version2 .indent {text-indent: 1em;
           
}
.version2 blockquote {
    font-size: 1.5em;
    line-height: .5em;
    margin: .5em .5em 0 0;
    font-style: italic;
}

cite {
    font-size: .7em;
    display: block;
    margin-top: -1.5em;
    margin-bottom: 3em;
}

blockquote p {
    color: dimgrey;
    hanging-punctuation: first;
    text-indent: -0.45em;
    text-transform: italic;
}

.version2 p+p+p {
    text-indent: 1em;
}


/*--------------------- version 3 ----------------*/

.version3 {
    font-family: 'Open Sans', sans-serif;
}

.version3 h1 {
    font-family: 'Arvo', serif;
}

.version3 blockquote {
    font-size: 1.5em;
    line-height: .5em;
    margin: .5em .5em 0 0;
    font-style: italic;
}

.version3 cite {
    font-size: .7em;
    display: block;
    margin-top: -1.5em;
    margin-bottom: 3em;
}

.version3 blockquote p {
    color: dimgrey;
    hanging-punctuation: first;
    text-indent: -0.45em;
    text-transform: italic;
}


/*-------------------- float ------------------ 

.version1 { 
            width: 30%;
            max-width: }

*/
/*--- notes -----------------------------------------

img { float: left;
    position: relative;
    margin: .5em 0 0 }
img {display: none;} - this will hide things for example when in mobile view if you want to hide all the images.

this allows you to put the image within the text rather than stand alone. this will show the image with the text around it.

- css lightbox
- fancy box
- 
-scale
- responsive gallery
- 

-------------------------sites that are useful----------------------

- code pen
- w3c school

- check out cssreference.io 
- to arrange images/ make a gallery - put them in a list
- for example 

.foundries img, ul, li { list-style: none;
}
. foundries img { display: block;
                  width: 32%
                  border: 1px solid #333;
                  float: left;
                  margin: 1em;
}

CSS colums

- using floats for each version

hover for wee icons with social links etc

- for a drop shadow
 text-shadow : 2px 2px 2px #f00;
- you can put multiple shadows
- you can use a box shadow
- box-shadow:2px 2px 2px #f00;
---------- questions -----------

- how to display images large when clicked on (like a slideshow)
